@charset "utf-8";
/* CSS Document */

*{
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background:#E1E1E1;
	max-width: 1240px;
	margin: 0 auto;
}

header {
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin: 0 5px;
	height: 80px;
	border-radius: 5px;
	position: relative;
}

header div {
	margin: 20px 5px;
	position: absolute;
}


header div a {
	text-decoration: none;
	font-size: 28px;
	font-weight: 900;
	color: rgba(166,58,248,0.80);
	float: left;
}



header nav {
	background: white;
}



nav ul li {
	list-style: none;
	float: right;
	margin: 2em 1em;
	
}

nav ul li a {
	text-decoration: none;
	color: rgba(86,86,86,0.90);
	font-weight: 700;
	;
}

nav ul li a:hover {
	color: rgba(166,58,248,0.80);
	transition-timing-function: ease-in-out;
}

.wrapper {
	padding: 4em 3em;
	text-align: center;
	
}

.wrapper h2 {
	font-size: 28px;
	margin: 20px auto;
}

.wrapper h2 span {
	color: rgba(166,58,248,0.80);
	
}

.wrapper p {
	color: rgba(139,139,139,1.00);
	margin-bottom: 3em;
}

.box {
	float: left;
	margin: 0 1em;
	width: 30%;
	box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.4);
	background-color: white;
	text-align: justify;
	line-height: 1.5em;
	margin-bottom: 50px;
	position: relative;
	
}

.box img {
	width: 100%;
}

.image1 {
	margin-bottom: 20px;
}


.box .imagea {
	position: absolute;
	left: 0;
	top: 215px;
	margin-left: 15px;
	border-radius: 50%;
	width: 12%
}

.box img:hover {
	background-color: rgba(166,58,248,0.80);
}


.box h3{
	margin: 20px 20px 20px 0;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 1.5em;
}

.box a {
	margin: 0 20px
}

.box p {
	margin: 10px 20px;
}

.fa-user {
	color: rgba(166,58,248,0.80);
	margin: 0 1em;
		
}

.fa-calendar-alt {
	color: rgba(166,58,248,0.80);
	margin-right: 1em;
		
}

.box a {
	text-decoration: none;
	color: rgba(166,58,248,0.80);
	font-weight: 700;
}

.box h3 a {
	color: inherit;
	
}

.box h3 a:hover {
	color: inherit;
	
}
.box a:hover {
	color: rgba(166,58,248,1.40);
	
}


.fa-chevron-right {
	margin-bottom: 40px;
}